body{
    margin: 0;
    /* padding: 0; */
    font-size: 16px;
  
}
a{
    text-decoration: none !important;
  }
  p{
    margin-bottom: 0px !important;
  }
  :root{
    --blue: hsl(194.92deg 87.1% 57.45%);
    --green:hsl(94.8deg 98.04% 40%)
  }

.container-fluid > .row:not(.header-row){
    max-width: 1200px;
    margin: 0 auto !important;
  }
  .header-row{
    max-width: 1670px;
    margin: 0 auto !important;
  }
.navs{
    font-weight: 700;
}
.header-last{
    font-weight: 500;
}
.tell{
    padding-right: 10px;
    border-right:1px solid var(--blue)
}
.tell img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.tell-txt span:nth-child(2){
    color: var(--blue) ;
}
header{
    background-color: #fff;
    box-shadow: 0px 2px 5px 5px #302f2f;
    position: fixed;
    z-index: 20000;
    right: 0;
    left: 0;
}
.slider-text{
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  left: 10%;
  z-index: 1;
  width: 50%;
 
}
.top-txt{
  color: #fff;
  font-size: 3.8em;
  font-weight: 700;
}
.slider-search{
  display: flex;
  background-color: #fff;
  border-radius: 50px;
  padding: 5px 15px;
  display: grid;
  grid-template-columns: 1fr 1fr .5fr;
  align-items: center;

}
.place, .date{
  position: relative;
  padding-left: 30px;
}
.slider-search input{
  outline: none;
  border: none;
  padding: 20px;
}
.place img, .date img{
  position: absolute;
  left: 0px;
  top:50%;
  transform: translateY(-50%);

}
.search-btn{
  padding: 20px;
  background-image: url(./images/search-back.png);
  background-size: cover;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-btn span{
  font-weight: 500;
}
.main-txt span{
  font-size: 3em;
  font-weight: 900;
}
.main-txt p{
 text-align: justify;
 text-align-last: center;
 font-size: 1.8em;
 color: #5e5e5e;
}

/*--------------------lesure-------------------*/
.lesur-sec, .rated-sec{
  margin-top: 80px;
}
.lesur-title span:nth-child(1){
  font-size: 3em;
  font-weight: bold;
}
.lesur-title span:nth-child(2){
  font-size: 1.5em;
  font-weight: bold;
}
.offers-tabs{
  display: flex;
justify-content: space-evenly;
margin-top: 30px;
}
.offers-options{
  border-bottom: 1px solid rgb(184, 182, 182);
  padding: 0px 20px;
  display: flex;
  justify-content: space-around;
width: 100%;

}
.offers-options .options{
  color: var(--gray);
  padding: 15px;
  margin: 0px 10px;
  position: relative;
  cursor: pointer;
  display: flex;
 align-items: center;
 justify-content: center;
 flex:1
}
.offers-options .options span{
  font-size: 1.3em;
  font-weight: bold;
}
.offers-options .options:nth-child(1) img{
  filter: brightness(-100%);

}
.offers-options .options img{
  margin-right: 5px;
  width: 30px;

}
.offers-options .options::after{
  content:'' ;
  width: 0px;
  height: 5px;
  background-color: var(--orange);
  position: absolute;
  bottom: -1px;
  right: 0;
  transition: width 0.1s ease-in;
}
.offers-options .options:hover{
  color: var(--blue);
  font-weight: bold;
}
.offers-options .options:hover::after{
  width: 90% ;
  transition: width 0.5s ease-in;   
}

.options.active{
  color: var(--blue);
  font-weight: bold;
}
.options.active::after{
  content:'' ;
  width: 90%;
  height: 5px;
  background-color: var(--blue);
  position: absolute;
  bottom: -1px;
  right: 0;
}
.all-offer a{
  padding:10px;
  color: var(--violet) !important;
}
.all-offer a:hover{
  color: hsl(247, 33%, 16%) !important;
}
.owl-container{
  display: none;
}
.owl-container.active{
  display: block;
}
.owl-nav-btn {
  
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  background-color: white;
  border: 1px solid rgb(167, 166, 166);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 2px 5px var(--violet);
  z-index: 2;
  transition: all 0.3s ease;
}

.owl-nav-btn:hover {
  scale: 1.1;
  background-image: url(./images/search-back.png);
  background-size: cover;
  color: white;
}

.owl-prev {
  right: 20px;
}

.owl-next {
  left: -20px;}
.owl-next img{
  filter: brightness(-100%);
}
.offer-box{
  padding: 48px 4px;
}
.offer-card {  
  background: white;  
  border:1px solid rgb(153, 152, 152);
  height: max-content; 
  border-radius: 28px;  
  position: relative;
  z-index: 0; 
  transform: translateY(5px);
  transition: transform 0.5s ease-in-out;
  min-height: 390px;
} 
.offer-card:hover{
 transform: translateY(-5px);
}


.offer-card-img img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
}
.offer-card-img .vip-wish{
  position: absolute;
  top: 10px;
  left: 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
}
.offer-card-img .vip-wish span{
  background-color: black;
  color: #fff;
  font-size: 0.8em;
  padding: 3px 10px;
  border-radius: 12px;
}
.txt-gray{
  color: hsl(0, 0%, 47%);
}
.stay{
  font-size: .8em;
}
.offer-card-img .vip-wish img{
  width: 15px;
}

.offer-text{
 padding:10px;
 /* text-align: center; */
 position: relative;
}

.offer-title{
  color: black;
  padding: 10px 0px;
  
}
.offer-title span:nth-child(1){
  font-size: 1.3em;
  font-weight: bold;
}
.offer-title span{
  font-size: 1.1em;
  font-weight: 500;
}

.offer-text .price{
  padding: 10px;
  color: black;
  display: flex;
  justify-content: end;

}
.off-price{
  padding: 3px 10px;
  border-radius: 15px;
  background-image: url(./images/search-back.png);
  background-size: cover;
}


/*--------------------top-rated-------------------*/
.rated-title{
  font-size: 3em;
}
.rated-title >div {
  flex: 1;
}

.see-more{
  padding:10px 12px;
  font-size: 18px !important;
  background-image: url(./images/search-back.png);
  background-size: cover;
}
.rated-carousel-sec .vip-wish{
  justify-content: end;
  padding: 5px 15px;
}
.travel-part{
  padding: 0px 50px;
}
.travel-txt{
  font-size: 1.3em;
}
.travel-txt p:nth-child(2){
  font-size: 1.5em;
  font-weight: bold;
  color: var(--blue);
}
.travel-txt > span{
  padding: 10px 15px;
  border: 1px solid rgb(182, 180, 180);
  border-radius: 25px;
  margin-top: 20px;
}
.destination-carousel-sec .offer-card{
  border: none;
  max-height: max-content;
  min-height: max-content;
}
.destination-carousel-sec .owl-prev {
  right: -10px;
}

.destination-carousel-sec  .owl-next {
  left: -10px;
}
.destination-carousel-sec .offer-card-img{
  z-index: 0;
}
.destination-carousel-sec .country{
  position: absolute;
  left: 20px;
  bottom: 20px;
  color: #fff;
  z-index: 1;
  font-size: 1.3em;
  font-weight: bold;
}

/*---------------------------destination----------*/
.destination-sec{
  margin-top: 100px;
}
.destination-title{
  font-size: 3em;
  font-weight: bold;
}

/*---------------------------benefit----------*/
.benefits-sec{
  margin-top: 60px;
}
.benefit-title{
  font-size: 3em;
  font-weight: bold;
}
.benefit-card{
  padding:30px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgb(173, 173, 173);
  border-radius: 25px;
  font-weight: 500;
 
}
.benefit-card .title{
  font-size: 1.5em;
  color: var(--blue);
}
.benefit-card > p{
  text-align: center;
  text-align-last: center;
  color: #858383;
  font-size: 1.1em;
  line-height: 35px;
}
.benefit-last{
  width: 28%;
  margin: 10px auto;
  border: 2px solid rgb(173, 173, 173);
  text-align: center;
  padding: 8px 15px;
  border-radius: 25px;
  font-size: 1.2em;
  font-weight: 500;
}

/*---------------------------stat----------*/
.circle-sec {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
  display: flex;
  justify-content: center;
  align-items: center;
  /* min-height: 100vh; */
  overflow: hidden;
}

.stat-sec .container {
  display: flex;
  gap: 60px;
  flex-wrap: wrap;
  justify-content: center;
  padding: 40px;
}

.stat {
  position: relative;
  width: 210px;
  height: 210px;
  margin-top: 60px; 
  margin-bottom: 60px; 
  transition: transform 0.3s ease-in-out;
}

.outer-circle {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 2px solid;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  transform-origin: center center;
  position: relative; 
   position: absolute;
   left: 0;
   top: 0;
}

.outer-circle-green {
  border-color: #a3e4a3;
  transform: translateY(20px) scale(1);
}

.outer-circle-blue {
  border-color: #a3c9ff;
  transform: translateY(-55px) scale(1);
}

.circle {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  transition: background-color 0.3s ease-in-out;
}

.circle-green { background: #d1f7d1; }
.circle-blue { background: #d1e8ff; }

.number {
  font-size: 2.2em;
  margin-bottom: 8px;
  color: #333;
  transition: transform 0.3s ease-in-out;
}

.label { font-size: 0.9em; color: #555; }

@keyframes orbit-rotate {
  from { transform: rotate(0deg); }
  to   { transform: rotate(360deg); }
}

.dot-orbit {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  transform-origin: center center;
}

.outer-circle-green .dot-orbit { transform: rotate(180deg); }
.outer-circle-blue .dot-orbit { transform: rotate(-45deg); }

.dot {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  position: absolute;
  z-index: 2;
  top: -105px; 
  left: 0;
  transform: translate(-50%, -50%); 
  transition: background-color 0.3s ease-in-out;
}

.dot-green { background: #a3e4a3; box-shadow: 0px 0px 0px 6px #a3e4a382; }
.dot-blue { background: #a3c9ff; box-shadow: 0px 0px 0px 6px #a3c9ff7d; }


.stat:hover .outer-circle {
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.12);
}


.stat:hover .outer-circle-green {
  transform: translateY(20px) scale(1.05);
   box-shadow: 0 6px 18px rgba(0, 0, 0, 0.12); 
}

.stat:hover .outer-circle-blue {
  transform: translateY(-55px) scale(1.05);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.12);
}


.stat:hover .number { transform: scale(1.05); }
.stat:hover .dot-green { background-color: #8be08b; }
.stat:hover .dot-blue { background-color: #8cbfff; }
.stat:hover .dot-orbit {
  animation: orbit-rotate 4s linear infinite;
}


/*---------------------------news----------*/
.news-sec .offer-card{
  min-height: 300px;
}
.news-sec .offer-text{
padding: 10px 20px;
}
.news-sec .offer-text .offer-title{
  font-weight: bold;
}
.news-sec .offer-text .date{
  padding-left: 0px;
  color: black;
  margin-top: 30px;
  margin-bottom: 10px;
  }

  /*---------------------------footer--------------*/
.footer-brand-social{
  background-color: hsl(0deg 0% 0%);

}
.footer-p-one {
  background-color: hsl(0deg 0% 0%);
  border-top: 1px solid hsl(0, 1%, 34%);
}
.footer-list-container {
  /* flex: 1; */
  justify-content: space-between;
  padding: 20px;
}
.footer-tab > span, .footer-last > span {
  color: var(--green);
  font-size: 1.1em;
  font-weight: 500;

}
.footer-tab  i {
  color: var(--green);
  display: none;
}

.footer-list-content.active{
  display: block;
}
.footer-list-content{
  margin-top: 10px;
}
.footer-list-content >div{
  margin-top: 5px;
}
.footer-list-content a {
  color: hsl(0, 0%, 57%) !important;
  font-size: .9em;
}
.footer-list-content a:hover {
  color: var(--orange);
  text-decoration: underline !important;
}

.footer-last > div span {
  color: hsl(0deg 0% 35.69%);
}
.loc{
  margin-top: 5px;
}
.loc-tel {
  margin-top: 10px;
  color:hsl(0deg 0% 79.61%);
}
.loc-tel img{
  width: 15px;
  height: 12px;
}
.loc-tel > span {
  color:hsl(0deg 0% 79.61%);
  font-family: IRANYekanWebBold;

}
.tel-phone{
  /* font-family: IRANYekanWebMedium; */
}
footer hr{
  width: 1px;
  background-color:hsl(0deg 0% 79.61%) ;
  margin: 3px !important;
}
.footer-last{
padding-top: 20px;
}
.email{
 width: 70%;
 padding: 20px 0px;
}
.input-sec{
  position: relative;
  border: 1px solid hsl(0, 0%, 57%);
  border-radius: 50px;
  padding-left: 25px;

}
.input-sec img{
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  
}
.input-sec input{
  width: 100%;
  background-color: transparent;
  padding: 10px;
 
  /* outline: none; */
  border: none;
}
.submit{
  margin-top: 20px;
  width: 100%;
  background-image: url(./images/search-back.png);
  background-size: cover;
  border-radius: 50px;
  padding: 10px 12px;
}


.footer-rights-sec {
  border-top: 1px solid hsl(0, 1%, 34%);
  background-color: hsl(0deg 0% 0%);
  align-items: center;
  color: hsl(0, 0%, 57%);
  font-size: 0.9em;
}
.footer-rights {
  color: hsl(0, 0%, 57%);
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
}
.footer-rights > span:nth-child(2){
  margin-left: 10px;
  padding-left: 10px;
  border-left: 1px solid #fff;
  color: #fff;
}
.footer-last .row {
  margin: 0 auto;
  max-width: 1676px;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.company {
  color: var(--orange) !important;
}
.nonegar{
  font-weight: bold;
}
.eng-company {
 
}
.brand-social{
  width: 100%;
}
.social-section{
  display: flex;
  /* justify-content:space-between; */
  align-items: center;
  color: hsl(0deg 0% 89.02%);
  font-family: IRANYekanWebBold;
  font-size: 1.1em;

 }
.socials{
  width: 100%;
}
 .social-icon {
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease;
  filter: grayscale(100%);
  padding: 10px;
  width: 60px;
  height: 60px
  
 
}

.social-icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: transform 0.3s ease;
}


.social-icon:hover {
  filter: grayscale(0%);
  transform: translateY(-5px);
}


.social-icon:hover::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 20px;
  height: 3px;
  border-radius: 2px;
}


.social-icon:nth-child(1):hover::after { 
  background-color: #229ED9;
  box-shadow: 0 0 10px #229ED9;
}

.social-icon:nth-child(2):hover::after {
  background-color: #0077B5;
  box-shadow: 0 0 10px #0077B5;
}

.social-icon:nth-child(3):hover::after {
  background-color: #ED145B;
  box-shadow: 0 0 10px #ED145B;
}

.social-icon:nth-child(4):hover::after { 
  background-color: #25D366;
  box-shadow: 0 0 10px #25D366;
}

.social-icon:nth-child(5):hover::after { 
  background: linear-gradient(45deg, #405DE6, #5851DB, #833AB4, #C13584, #E1306C, #FD1D1D);
  box-shadow: 0 0 10px #E1306C;
}

.social-icon:hover img {
  transform: rotate(360deg) scale(1.2);
  transition: transform 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.05); }
  100% { transform: scale(1); }
}

.social-icon:hover {
  animation: pulse 1s infinite;
}
.right-img{
  display: flex;
align-items: center; 
justify-content: center;
 width: 55px;
  height: 35px;
  border-radius: 12px;
  margin: 0px 5px;
}